*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #fafcfc;
}

.cards{
width: 100%;
height: auto;
}

.card{
 margin: 5% !important;
 transition: all .4s cubic-bezier(0.175 , 0.885 , 0 ,1) !important;
 background-color: #fff !important;
 width: 23.25% !important;
 border-radius: 12px !important;
 box-shadow: 0 13px 10px -7px rgba(0,0,0,0.1) !important;
 float: left !important;   
}

.card:hover{
  box-shadow: 0 30px 18px -8px rgba(0 , 0 , 0 , 0.1);
  transform: scale(1.05 , 1.05);
}

@media(max-width: 870px){
  .card{
    width: 35% !important;
  }
}
@media(max-width: 500px){
  .card{
    width: 85% !important;
  }
}